<!DOCTYPE html>
<html>
<head>
<title>
PRETTYMUCH
</title>
</head>
<body>
<style>
body{
background-color:gray;
}
#mainheader{
color:brown;
background-color:aqua;
font-size:24px;
font-family:arial;
text-align:center
}
h2{
 color:red;
 background-color:black;
 text-align:right;
 font-family:cooper black; 
 font-size:30px;
 }
h3{
 color:purple;
 background-color:black; 
 font-size:30px;
 font-family:cooper black;
 text-align:right; 
 }
</style>
<h1 id="mainheader"> PRETTYMUCH</h1>
<p><b> PRETTYMUCH</b> is an American-Canadian pop boy band based in <mark> L.A, California.</mark>
 They have been living together for the past two years, making music and having fun all together.
They started out as solo artists in their home areas until they each caught Simon Cowell's eye.
 They all are dancers and do covers of famous songs.</p>
The group consist of</p>
<ol type="i">
<li> ZION Kuwonu</li>
<li> BRANDON Arreaga</li>
<li> AUSTIN Porter</li>
<li> EDWIN Honoret &amp</li>
<li> NICK Mara</li>
</ol><br>
<p>The band was formed by<mark> Simon Cowell</mark> in 2016,just two years after the break of world-famous boy band <i>One Direction</i>.
 The boys of PRETTYMUCH are from all over in the U.S with one bandmate being from Ottawa, Canada.
 Their ages range from 18-20</p><br> 
<h2><hr>ABOUT THEM </hr></h2>
<table>
<thead>
<tr>
<th id="Origin">Origin</th>
<th id="Genres">Genres</th>
<th id="Years Active">Years Active</th>
<th id="Labels">Labels</th>
</tr>
</thead>
<tbody>
<tr>
<td headers="Origin"> Los Angles, California, U.S</td>
<td headers="Genres"> POP, R&ampB</td>
<td headers="Years Active"> 2016-present</td>
<td headers="Lables"> SYCO Columbia</td>
</tr>
</tbody>
</table>
<h3><hr> MY FAVOURITE SONGS BY PRETTYMUCH</hr></h3>
<p><i><strong> Would You Mind</strong></i></p>
<p><i><strong>Open Arms</strong></i></p>
<p><i><strong>No More</strong></i></p>
<p><i><strong>Healthy</strong></i></p>
<p><i><strong>10,000 Hours</strong></i></p>
<p><i><strong>Teacher</strong></i></p>
<h4><mark> REFRENCES </mark></h4>
<a href="prettymuch.com"> prettymuch.com</a>
<a href="instagram.com"> instagram</a>
<a href="youtube.com"> youtube</a>
<a href="twitter.com"> twitter</a>

















</body>
</html>